*{
  font-style: none;
}


body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
section{
    background-color: black;
    height: 550px;
    width: 700px;
    /* margin: 50px auto 0 auto; */
    border: 5px solid skyblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .title{
    color: skyblue;
    font-family: Algerian, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
  }
  .text{
    color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px 0;
  }
  .buttons{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  .buttons button{
    background-color: transparent;
    color: skyblue;
    border: none;
    height: 100px;
    width: 100px;
    font-size: 18px;
    border: 2px solid skyblue;
    /* border-radius: 100px; */
    margin-right: 40px;
    cursor: pointer;
  }
  button:hover{
    opacity: 0.7;
    border-radius: 100px;
  }

  .image{
    width: 40px;
  }

  button .img,
  p .img{
    width: 40px;
    display: block;
    margin: 0 auto;
  }
  .js-score,
  .js-moves,
  .js-result{
    text-align: center;
  }
  /* .js-moves{
    display: flex;
    flex-direction: row;
  } */
  .js-result{
    font-size: 24px;
    font-weight: bold;
  }
  section .reset-score,
  section .auto-play-score{
    background-color: black;
    color: skyblue;
    width: 100px;
    font-size: 15px;
    padding: 5px;
    border: 2px solid skyblue;
    cursor: pointer;
  }

  .div-reset-score{
    margin: 20px auto;
  }

  .reset-confirmation{
    text-align: center;
    font-size: 15px;
  }


@media (max-width: 450px) {
  section{
    width: 400px;
    border: none;
  }
  .image{
    width: 30px;
  }
  .title{
    font-size: 1.8rem;
    text-align: center;
  }

  button .img,
  p .img{
    width: 23px;
    display: block;
    margin: 0 auto;
  }
  .buttons button{
    color: white;
    border: none;
    height: 100px;
    width: 100px;
    font-size: 15px;
    border: 2px solid white;
    /* border-radius: 100px; */
    margin-right: 10px;
    cursor: pointer;
  }
}

@media (max-width: 750px) {
  section{
    width: 500px;
  }
  .title{
    font-size: 1.8;
    text-align: center;
  }
}