*{
  font-style: none;
}


body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
section{
    background-color: black;
    height: 550px;
    width: 700px;
    /* margin: 50px auto 0 auto; */
    border: 5px solid skyblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .title{
    color: skyblue;
    font-family: Algerian, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
  }
  .text{
    color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px 0;
  }
  .buttons{
    width: 400px;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .buttons button{
    background-color: transparent;
    color: skyblue;
    border: none;
    height: 100px;
    width: 100px;
    font-size: 18px;
    border: 2px solid skyblue;
    /* border-radius: 100px; */
    /* margin-right: 40px; */
    cursor: pointer;
  }
  button:hover{
    opacity: 0.7;
    border-radius: 100px;
  }

  .image{
    width: 40px;
  }

  button .img,
  p .img{
    width: 40px;
    display: block;
    margin: 0 auto;
  }
  .box-display{
    /* background-color: blue; */
    height: 100px;
  }
  .js-score,
  .js-moves,
  .js-result{
    text-align: center;
  }
  /* .js-moves{
    display: flex;
    flex-direction: row;
  } */
  .js-result{
    font-size: 24px;
    font-weight: bold;
  }
  .js-score{
    font-size: 15px;
  }
  section .reset-score,
  section .auto-play-score{
    font-family: Bauhaus, Arial, Helvetica, sans-serif;
    background-color: black;
    color: skyblue;
    width: 100px;
    font-size: 15px;
    padding: 5px;
    border: 2px solid skyblue;
    cursor: pointer;
  }

  .div-reset-score{

    width: 230px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .reset-confirmation{
    color: crimson;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
  }
  .js-no-button,
  .js-yes-button{
    background-color: transparent;
    color: brown;
  }


@media (max-width: 320px) {
  section{
    width: 100%;
    height: 100vh;
    border: none;
  }
  .image{
    width: 30px;
  }
  .title{
    font-size: 1.2rem;
    text-align: center;
  }

  button .img,
  p .img{
    width: 23px;
    display: block;
    margin: 0 auto;
  }
  .buttons{
    width: 200px;
  }
  .buttons button{
    border: none;
    height: 50px;
    width: 50px;
    font-size: 10px;
    border: 2px solid skyblue;
    /* border-radius: 100px; */
    margin-right: 10px;
    cursor: pointer;
  }
  section .reset-score,
  section .auto-play-score{
    width: 80px;
    font-size: 12px;
    padding: 5px;
    border: 2px solid skyblue;
    cursor: pointer;
  }
  .div-reset-score{

    width: 180px;
  }
  .reset-confirmation{
    font-size: 10px;
  }
  .js-no-button,
  .js-yes-button{
    font-size: 10px;
  }

}
@media (max-width: 375px) {
  section{
    width: 100%;
    height: 100vh;
    border: none;
  }
  .image{
    width: 30px;
  }
  .title{
    font-size: 1.4rem;
    text-align: center;
  }

  button .img,
  p .img{
    width: 23px;
    display: block;
    margin: 0 auto;
  }
  .buttons{
    width: 220px;
  }
  .buttons button{
    border: none;
    height: 60px;
    width: 60px;
    font-size: 10px;
    border: 2px solid skyblue;
    /* border-radius: 100px; */
    margin-right: 10px;
    cursor: pointer;
  }
  section .reset-score,
  section .auto-play-score{
    width: 80px;
    font-size: 12px;
    padding: 5px;
    border: 2px solid skyblue;
    cursor: pointer;
  }
  .div-reset-score{

    width: 180px;
  }
  .reset-confirmation{
    font-size: 10px;
  }
  .js-no-button,
  .js-yes-button{
    font-size: 10px;
  }

}
@media (max-width: 425px) {
  section{
    width: 100%;
    border: none;
  }
  .image{
    width: 30px;
  }
  .title{
    font-size: 1.6rem;
    text-align: center;
  }

  button .img,
  p .img{
    width: 23px;
    display: block;
    margin: 0 auto;
  }
  .buttons{
    width: 240px;
  }
  .buttons button{
    border: none;
    height: 70px;
    width: 70px;
    font-size: 10px;
    border: 2px solid skyblue;
    /* border-radius: 100px; */
    margin-right: 10px;
    cursor: pointer;
  }
  section .reset-score,
  section .auto-play-score{
    width: 80px;
    font-size: 12px;
    padding: 5px;
    border: 2px solid skyblue;
    cursor: pointer;
  }
  .div-reset-score{

    width: 180px;
  }
  .reset-confirmation{
    font-size: 10px;
  }
  .js-no-button,
  .js-yes-button{
    font-size: 10px;
  }

}

@media (max-width: 768px) {
  section{
    width: 100%;
    border: none;
  }
  .title{
    font-size: 1.6;
    text-align: center;
    margin-bottom: 0;
  }
}